<!-- BOOTSTRAP NAVBAR WITH RESPONSIVENESS  -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- Redirect to homepage -->
      <a class="navbar-brand" style="color: white; font-family:'Lucida Handwriting'; font-size:30px">Groceries Are Us</a> 
      <a class="navbar-brand" style="color: white; font-family:'Courier New'; font-size:20px" href="/">Home</a>
      <% if(locals.token && token){ %>
        <a class="navbar-brand" style="color: white; font-family:'Courier New'; font-size:20px" href="/blog/user_logout">Logout</a>
        <% } else { %>
        <a class="navbar-brand" style="color: white; font-family:'Courier New'; font-size:20px" href="/blog/user_login">Login</a>
        <a class="navbar-brand" style="color: white; font-family:'Courier New'; font-size:20px" href="/blog/user_registration">Sign Up</a>
         <% } %>
    </ul>
    <!-- Redirect to blog CRUD section  -->
    <a href="/blog/list"></a>
    <a href="/blog/list"></a>
  </div>
</nav>
