<!-- BOOTSTRAP NAVBAR WITH RESPONSIVENESS  -->
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- Redirect to homepage -->
      <a class="navbar-brand" href="/">Groceries Are Us</a>
      <a class="navbar-brand" href="/">Home</a>
    </ul>
    <!-- Redirect to blog CRUD section  -->
    <a href="/blog/list"> </a>
    <a href="/blog/list"
      ><button class="btn btn-outline-warning my-2 my-sm-0">
        <i
          
          style="font-size: 20px; color: orange; position: relative"
        >
        </i
        >
      </button></a
    >

    <% if(locals.token && token){ %>
    <a href="/blog/user_logout"
      ><button class="btn btn-outline-warning my-2 my-sm-0">Logout</button></a
    >
    <% } else { %>
    <a href="/blog/user_login"
      ><button class="btn btn-outline-warning my-2 my-sm-0">Login</button></a
    >
    <a href="/blog/user_registration"
      ><button class="btn btn-outline-warning my-2 my-sm-0">
        Registration
      </button></a
    >
    <% } %>
  </div>
</nav>
