<div class="col-sm-4">
<div class="card" style="position:relative;">
  <img
    class="card-img-top"
    src="public\images\imagesb.jfif"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title" id="name">Fresh Produce Package</h5>
    <p class="card-text">
      Our fresh produce is sourced locally from nearby farms, pesticide-free. 
      This package includes: Apples, Oranges, Bananas, Carrots, Onions, Garlic, Kale, Brussel Sprouts, Broccoli, Peas etc. 
    </p>
    <p class="card-text">CAD($): <span id="price">20.00</span></p>
    <button class="btn btn-success" id="btn_cart">Add To Cart</button>
  </div>
</div>
</div>
<br>
<br>
<div class="col-sm-4">
<div class="card" style="position:relative;">
  <img
    class="card-img-top"
    src="public\images\download (2).jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5 class="card-title" id="name2">Meat and Dairy Package</h5>
    <p class="card-text">
      Our meat and dairy products are ethically sourced from local farms and are all GMO-free. 
      This package includes: Beef, Pork, Chicken, Salmon, Tuna, Eggs, Milk, Cheese, Yogurt, Veal, Goat, Venison, Turkey, Bull, Quail, Snake, Alligator, etc.
    </p>
    <p class="card-text">CAD($): <span id="price">35.50</span></p>
    <button class="btn btn-success" id="btn_cart">Add To Cart</button>
  </div>
</div>
</div>

<div class="col-sm-4">
  <div class="card" style="position:relative;">
    <img
      class="card-img-top"
      src="public\images\wholeGrainProducts-842797430-770x533-1-650x428.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title" id="name3">Wheat and Grains Package</h5>
      <p class="card-text">
        Our grain products are sourced from local farms and are baked/prepared fresh everyday. 
        This includes: Bread, Cereal, Rice, Oats, Corn, Pastas, Quinoa, Muffins, Waffles, Pancakes etc.
      </p>
      <p class="card-text">CAD($): <span id="price">25.00</span></p>
      <button class="btn btn-success" id="btn_cart">Add To Cart</button>
    </div>
  </div>
  </div>
<script>
  $(`#btn_cart`).click(function () {
    var name_value = $(`#name`).text();
    var name2_value = $(`#name2`).text();
    var name3_value = $(`#name3`).text();
    // alert(name_value);
    var price_value = $(`#price`).text();
    $.ajax({
      type: "post",
      url: "/blog/create_cart_form",
      // processData: false,
      // contentType: false,
      data: {
        name: name_value,
        name2: name2_value,
        name3: name3_value,
        price: price_value,
        quantity: 1,
      },
      success: function (data) {
        if (data == true) {
          window.location.href = "/blog/list";
        }
      },
      error: function (data) {
        alert(data.responseJSON.errors);
      },
    });
  });
</script>
